body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

/*******************************
 * Bootstrap overrides
 *******************************/

.modal_glance,
.modal_flow {
	top: 100%;
}
.modal_flow {
	background: white;
}
.fade_glance,
.fade_flow {
	-webkit-transition: opacity .15s linear, top .40s ease-out;
	-o-transition: opacity .15s linear, top .40s ease-out;
	transition: opacity .15s linear, top .40s ease-out;
}
.fade_glance.in,
.fade_flow.in {
	top: 0;
}
.modal-dialog_glance,
.modal-dialog_flow {
	margin: 0 auto;
	width: 60%;
	max-width: 800px;
	min-width: 500px;
	min-height: 100%;
	background: #fff;
}
.modal-content_glance,
.modal-content_flow {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 60px;
}
.modal_glance.fade_glance .modal-dialog_glance,
.modal_glance .fade_glance .modal-dialog_glance {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.modal-header_glance,
.modal-header_flow {
	border: none;
}
.modal-footer_glance,
.modal-footer_flow {
	border: none;
}
